.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.center {
  align-items: center;
}

.main {
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  font-size: calc(0.85rem + 0.2vw);
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
  text-align: center;
  max-width: 70rem;
}

.contentgrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(25%, auto));
  max-width: 100%;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(10%, auto));
  max-width: 100%;
  text-align: center;
}

@media (prefers-reduced-motion) {
  .custom::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Desktop */
@media (min-width >= 30rem) and (max-width <= 1120px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  .content {
    font-size: calc(0.9rem + 0.15vw);
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 70%;
    max-width: 50rem;
  }

  .playergrid {
    display: grid;
    grid-template-columns: repeat(3, minmax(25%, auto));
    text-align: center;
    grid-gap: 4px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width >= 701px) and (max-width <= 1120px) {
  .grid {
    grid-template-columns: repeat(2, 10%);
  }

  .main {
    font-size: calc(0.9rem + 0.3vw);
  }
}

@media (prefers-color-scheme: dark) {
  .icon,
  .content img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
