.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 6rem;
  margin: 0 auto;
  height: auto;

  word-wrap: pre-wrap;
  text-align: center;
  min-width: 20rem;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(20%, auto));
  max-width: 100%;
} */

/* .center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: calc(1rem + 0.21rem);
} */

/* Mobile */

@media (max-width <= 40rem) {
  /* .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 0 auto;
    max-width: 70rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    max-width: 40rem;
    text-align: center;
  } */
}

/* Tablet and Smaller Desktop */
@media (min-width >= 701px) and (max-width <= 1120px) {
  /* .grid {
    grid-template-columns: repeat(2, 50%);
  } */
}
