/* autoprefixer grid: autoplace */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  margin: 0 auto;
  max-width: 70rem;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  text-align: center;
}

.card {
  padding: 1rem 1.2rem;
}

.card p {
  margin: 0;
  opacity: 0.9;
  font-size: calc(0.95rem + 0.2rem);
  line-height: 1.5;
  max-width: 70ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 4rem;
}

/* Bootstrapped custom transforms */

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.hide {
  visibility: hidden;
}

.logo,
.custom {
  position: relative;
}

/* Bootstrapped custom transforms */
.custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  padding: 25px 10px;
  margin-left: 16px;
  transform: translateZ(0);
  overflow: hidden;
  box-shadow: 2px 8px -1px #0000001a;
}

/* Bootstrapped Enable hover only on non-touch devices */

@media (prefers-reduced-motion) {
  .custom::before {
    animation: none;
  }

  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width <= 40rem) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    margin: 0 auto;
    max-width: 70rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
    margin-top: 2rem;
  }

  .card p {
    font-size: calc(1.5rem + 0.3rem);
  }

  .center {
    padding: 2rem 0;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width >= 701px) and (max-width <= 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
