.sectionContainer {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr;
  margin: 4rem;
  min-width: 20rem;
  max-width: calc(100% - 8vmax);
  min-height: 20rem;
  max-height: calc(100% - 8vmax);
}

.headerContent {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
  gap: 2rem;
}

.headerImg img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indexContent {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
}

.body {
  display: grid;
  grid-template-columns: 1fr;
  max-width: calc(100% - 4rem);
  margin: 2rem auto;
  gap: 1rem;
  font-size: calc(0.85rem + 1vmin);
  line-height: calc(1.5rem + 1vmin);
  align-items: flex-start;
}

.title {
  font-size: calc(1rem + 1vmin);
  text-align: center;
  padding-bottom: 1rem;
}

@media (min-width: 48rem) {
  .sectionContainer {
    max-width: calc(100% - 8vmax);
    margin: 4rem;
  }

  .body {
    grid-template-columns: 6fr;
    font-size: calc(1rem + 0.5vmin);
    line-height: calc(1.2rem + 1vmin);
  }

  .headerContent {
    grid-template-columns: 1fr 4fr;
    justify-items: start;
  }

  .headerImg {
    justify-content: flex-end;
  }

  .intro {
    max-width: 40rem;
    text-align: left;
  }

  .title {
    text-align: left;
  }
}
