/* .figcaption {
  font-size: 0.75;
  opacity: 0.9;
  background-color: transparent;
  font-size: calc(0.85rem + 0.2vw);
}

.fig {
  margin: 0;
  width: 100%;
  height: auto;
  z-index: 2;
  display: flex;
  flex-flow: column;
  text-align: left;
  padding: 1.2rem;
  background-color: transparent;
}

.player {
  margin: 0 auto;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex-direction: column;
}

.block {
  inset: 1;
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  height: auto;
  max-width: fit-content;
  position: relative;
  box-shadow: 0 0 0 1px rgba(175, 175, 175, 10%);
  border: 1px solid rgba(237, 237, 237, 10%);
}

.playergrid {
  display: grid;
  grid-template-columns: repeat(1, minmax(25%, auto));
  max-width: 100%;
}

@media (min-width >= 40rem) {
  .block {
    inset: 1;
    margin: 0 auto;
    padding: 1rem;
    width: calc(70% - 1vw);
    height: auto;
    max-height: fit-content;
    max-width: 20rem;
    position: relative;
    box-shadow: 0 0 0 1px rgba(175, 175, 175, 10%);
    border: 1px solid rgba(237, 237, 237, 10%);
  }

  .image {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
  }

  .player {
    margin: 3rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
  }

  .playergrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(25%, auto));
    min-width: 48rem;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: block;
  font-size: calc(0.85rem + 0.2vw);
  margin: 0 auto;
  padding: 0 5rem;
  width: 100%;
  text-align: center;
} */
