/* stylelint-disable color-function-notation */
.heading-2xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.heading-xl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.heading-lg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
}

.heading-md {
  font-size: 1.2rem;
  line-height: 1.5;
}

.border-circle {
  border-radius: 90px;
}

.expressjs {
  font-family: "helvetica neue", "open sans", sans-serif;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 100;
  font-stretch: normal;
}

.color-inherit {
  color: inherit;
}

.padding-1px {
  padding-top: 1px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-item {
  margin: 0 0 1.25rem;
}

.light-text {
  color: #666;
}

.bold {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding {
  padding: 1rem;
}

.left {
  text-align: left;
}

.player {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.25rem;
  inset: 1;
  box-shadow: 0 0 0 1px rgba(175, 175, 175, 10%);
  padding: 3rem;
  border: 1px solid rgba(237, 237, 237, 10%);
  margin: 0 auto;
}
