/* mobile responsive footer */
.container {
  position: relative;
  display: block;
  width: 100%;
  border-top: linear-gradient(218.32deg, #fffcfc, #fdfeff);
  box-shadow: 17px 17px 23px #fafdff, -17px -17px 23px #d5d5d5,
    5px 5px 4px #f9fbfc, -5px -5px 4px #f1f1f1;
}

@media (prefers-color-scheme: "dark") {
  .container {
    background: linear-gradient(218.32deg, #fffcfc, #fdfeff);
  }
}

@media (prefers-color-scheme: "light") {
  .container {
    background: linear-gradient(218.32deg, #fffcfc, #fdfeff);
  }
}

.wrapper {
  max-width: 100vw;
  padding: 0.5rem;
}

.footerlink {
  text-decoration: underline;
  font-weight: 400;
  z-index: 10;
}

.footerlink:hover {
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  transition-delay: 2ms;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(25%, auto));
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 60rem) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(25%, auto));
  }
}

/* Desktop and larger screen */
@media (min-width: 60rem) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .container {
    display: block;
    height: auto;
  }
}
