.container {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footerlink p {
  text-decoration: underline;
  font-weight: 400;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}

.footerContent {
  align-items: center;
  padding: 1rem;
  font-size: calc(0.55rem + 1vmin);
}

.footerlink:hover {
  font-style: italic;
  font-weight: 500;
  cursor: pointer;
  transition-delay: 2ms;
}