.header {
  margin-top: 6rem;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderCircle {
  border-radius: 90px;
}
/* 
@keyframes change {
  10% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
} */
