.headerWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.backToHome {
  margin: 3rem 0 0;
}

.heading2Xl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  text-align: left;
  justify-self: center;
}

@media screen and (min-width: 40rem) {
  .headerWrapper {
    flex-direction: row;
    align-items: flex-start;
    margin-top: 6rem;
  }

  .header {
    align-self: flex-end;
  }

  .backToHome {
    margin: 0 0 0 1.5rem;
  }
}
