.iconlabel {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.wrapper {
  margin: 0 auto;
  padding: 1rem 0.25rem 1rem 1rem;
  min-width: 2rem;
}

.icon {
  list-style: none;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon:hover {
  opacity: 70%;
}

.icon.active {
  opacity: 70%;
}

.icon.active:hover {
  color: #fff;
}

.icon.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.icon.disabled:hover {
  color: #fff;
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 48rem) and (max-width: 60rem) {
  .wrapper {
    margin: 0 auto;
    padding: 2rem 0.25rem 0rem;

    min-width: 3rem;
  }
} */
/* Desktop and larger screen */
/* @media (min-width: 60rem) {
  .wrapper {
    margin: 0 auto;
    padding: 1rem 1rem 0.125rem 1rem;

    min-width: 3rem;
  }
} */

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .icon:hover {
    background: rgba(var(--icon-rgb), 0.1);
    border: 1px solid rgba(var(--icon-border-rgb), 0.15);
  }

  .icon:hover {
    transform: translateX(4px);
  }
} */

@media (hover: hover) and (pointer: fine) {
  .icon::before {
    animation: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .icon:hover span {
    transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
