.iconlabel {
  font-size: 1rem;
  white-space: nowrap;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

.wrapper {
  margin: 0 auto;
  padding: 1rem 2rem 0.75rem 2rem;
  display: flex;
  min-width: 3rem;
}

.icon {
  list-style: none;
  cursor: pointer;
  transition: color 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.icon:hover {
  opacity: 70%;
}

.icon.active {
  opacity: 70%;
}

.icon.active:hover {
  color: #fff;
}

.icon.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.icon.disabled:hover {
  color: #fff;
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 60rem) {
}
/* Desktop and larger screen */
@media (min-width: 60rem) {
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .icon:hover {
    background: rgba(var(--icon-rgb), 0.1);
    border: 1px solid rgba(var(--icon-border-rgb), 0.15);
  }

  .icon:hover {
    transform: translateX(4px);
  }
}

@media (hover: hover) and (pointer: fine) {
  .icon::before {
    animation: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .icon:hover span {
    transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

@keyframes change {
  100% {
    transform: rotate(1turn);
    transition-delay: 5ms;
  }
}

.change {
  animation-name: change;
  animation-duration: 1.5s;
  /* animation-delay: 5ms; */
  animation-direction: normal;
}
