.container {
  display: grid;
  margin: 0 auto;
  height: 100vh;
}

ul.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}

.main {
  display: block;
  width: 100%;
  align-self: center;
  align-items: center;
  padding: 4rem 6rem;
}


.nav {
  align-self: start;
}

.footer {
  align-self: end;
}

.icon {
  list-style: none;
  cursor: pointer;
}

.navContainer {
  display: grid;
  justify-content: start;
  width: 40%;
  padding: 0rem;
}

@media (min-width: 48rem) {

  .main {
    display: block;
    width: 100%;
    align-self: center;
    align-items: center;
    padding: 0rem 8rem;
    max-width: 40rem;
  }

  .grid {
    margin: 0 auto;
    gap: 4rem;
    margin-top: 3rem;
    margin-left: 2rem;
    align-items: center;
  }

  .center {
    align-self: center;
    justify-self: center;
  }
}