.container {
  display: grid;
  margin: 0 auto;
  height: 100vh;
}

ul.grid {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.main {
  display: flex;
  width: 100%;
  max-width: 48rem;
  padding: 4rem 6rem 4rem 6rem;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1 auto;
}

.nav {
  align-self: start;
}

.footer {
  align-self: end;
}

.icon {
  list-style: none;
  cursor: pointer;
}

.navContainer {
  display: grid;
  justify-content: start;
  width: 40%;
  padding: 0rem;
}

@media screen and (min-width: 48rem) {
  .main {
    width: 100%;
    padding: 4rem 12rem 4rem 12rem;
    align-items: center;
    max-width: 100%;
  }

  .grid {
    margin: 0 auto;
    /* margin-top: 3rem;
    margin-left: 8rem; */
    align-items: center;
  }

  .center {
    align-self: center;
    justify-self: center;
  }
}
