.nav {
  position: fixed;
  top: 0px;
  left: 0.5px;
  margin: 0;
  padding: 0;
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

@media (min-width: 40rem) {
  .grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
  }
}
