.navContainer {
  display: grid;
  justify-content: start;
  width: 40%;
  padding: 0rem;
}

.grid {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.icon {
  list-style: none;
  cursor: pointer;
}

@media (min-width: 48rem) {
  .grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5rem;
    margin-top: 2rem;
    margin-left: 2rem;
  }
}