/* mobile responsive player */

.wrapper {
  display: block;
  border-radius: 6px;
  margin-top: 1rem;
  line-height: 1.2rem;
}

.audio {
  width: 100%;
  padding: 1rem;
}

.caption {
  font-size: calc(0.55rem + 0.13vw);
  max-width: 40vmax;
  margin: 0 auto;
  font-weight: 400;
  cursor: pointer;
  text-align: center;
}

.caption h3 {
  padding: 1rem 0rem 0rem;
  max-width: 30vmax;
  line-height: 1.4rem;
}

.itemurl {
  font-style: italic;
}

.itemurl:hover {
  font-style: italic;
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
}

.coverimage {
  display: block;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  padding: 0.5rem;
  box-shadow: 0 0 0 1px rgba(175, 175, 175, 30%);
  border: 1px solid rgba(237, 237, 237, 10%);
}

.audio {
  display: flex;
  top: 0px;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
}

@media (min-width: 48rem) {
  .wrapper {
    display: block;
    border-radius: 6px;
    margin-top: 1rem;
  }

  .caption {
    font-size: calc(0.1rem + 0.1vw);
    max-width: 40vmax;
  }
}

@media (min-width: 60rem) {
  .wrapper {
    display: block;
    border-radius: 6px;
    margin-top: 1rem;
  }

  .caption h3 {
    padding: 1rem 0rem 0rem;
    max-width: 30vmax;
    line-height: 1.2rem;
  }
}
