.container {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.flexWrap {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.itemCover {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: auto;
}

.audioPlayer {
  margin-top: 0.75rem;
  display: block;
  height: 1.8rem;
}

.controls {
  height: 2rem;
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 20rem;
}


.trackItem {
  width: 100%;
  max-width: 20rem;
  overflow: hidden;
  line-height: 1rem;
  text-align: center;
}


.imgWrapper {
  width: 100%;
  height: auto;
}

.coverImage {
  align-self: flex-start;
  width: 100%;
  max-width: 4rem;
  height: auto;
}


.item {
  font-weight: 400;
  font-style: normal;
  text-decoration: underline;
  text-align: center;
  font-size: calc(0.85rem + 0.2vmin);
}


.itemUrl:hover {
  font-weight: 600;
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
  font-size: calc(0.85rem + 0.2vmin);
}


.heading {
  font-size: calc(0.85rem + 0.4vmin);
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin-bottom: 0.25rem;
}


@media (min-width: 30rem) {

  .container {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .flexWrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
  }

}