.textblock {
  margin: 0;
  opacity: 0.9;
  font-size: calc(0.95rem + 0.2rem);
  line-height: 1.2;
  max-width: calc(100rem, minmax(80vw - 1rem, auto));
  width: 100%;
  height: auto;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: calc(1rem + 0.21rem);
}

/* @media (max-width <= 40rem) {
  .card h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .card p {
    font-size: calc(1.5rem + 0.3rem);
  }

  .center {
    padding: 0.5rem 0;
  }
  .card h2 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .card p {
    font-size: calc(1.5rem + 0.3rem);
  }
} */

/* .heading2XL {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.headingXL {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.headingLG {
  font-size: 1.5rem;
  line-height: 1.4;
}

.headingMD {
  font-size: 1.2rem;
  line-height: 1.5;
}

.headingSM {
  font-size: 0.95rem;
  line-height: 1;
} */
/* 
.bold {
  font-weight: 400;
}

.light {
  font-weight: 300;
  font-size: 0.85rem;
  color: #666;
} */
/* 
.card h2 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.card p {
  font-size: calc(1.5rem + 0.3rem);
} */
