.wrapper {
  margin: 0 auto;
  width: 100%;
}

.text p {
  margin: 0 auto;
  padding: 0.5rem 4rem 2rem 4rem;
  letter-spacing: 0.1vmin;
  line-height: 1.5rem;
  text-align: center;
}

.list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Tablet and Smaller Desktop */
@media (min-width: 48rem) and (max-width: 60rem) {
  .text p {
    padding: 0rem 3rem 0rem 3rem;
    letter-spacing: 0.02vmax;
    line-height: 1.4rem;
    text-align: center;
  }
  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}

/* Desktop and larger screen */
@media (min-width: 60rem) {
  .text p {
    padding: 0rem 2rem 0rem 2rem;
    letter-spacing: 0.02vmax;
    line-height: 1.2rem;
    text-align: center;
  }

  .wrapper {
    margin: 0 auto;
    width: 100%;
  }
}
