.wrapper {
  margin: 0 auto;
  width: 100%;
}

.text p {
  margin: auto 15vmax;
  letter-spacing: 0.1vmin;
  line-height: 1.1rem;
  text-align: center;
}

.list li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: 400;
}

.light {
  font-weight: 300;
  font-size: 0.85rem;
  color: #666;
}
