/*
  Creates dark mode button style inspired by [Alireza M - Dark & light mode button](https://codepen.io/alireza82/pen/poRqBOq)
*/

.darkMode {
  position: fixed;
  top: 20px;
  right: 20px;

  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.lightShadow {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20, -17px -17px 23px #282d32,
    inset 5px 5px 4px #1e2226, inset -5px -5px 4px #24282c;
}

.darkShadow {
  background: linear-gradient(218.32deg, #fffcfc, #fdfeff);
  box-shadow: 17px 17px 23px #fafdff, -17px -17px 23px #d5d5d5,
    inset 5px 5px 4px #f9fbfc, inset -5px -5px 4px #f1f1f1;
}

.darkMode:hover {
  opacity: 0.8;
}

.darkmode::before {
  cursor: pointer;
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.darkmode::after {
  width: 240px;
  height: 180px;
  z-index: -1;
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}

@media (hover: hover) and (pointer: fine) {
  .change {
    animation: none;
  }

  .darkmode:hover {
    transform: none;
  }
}
@media (prefers-reduced-motion) {
  .change {
    animation: none;
  }

  .darkmode:hover {
    transform: none;
  }
}

@keyframes change {
  10% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1.2);
  }
}
