.container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  max-width: 100%;
  height: 100vh;
}

.main {
  display: flex;
  flex: 1 auto;
  padding: 1rem 4rem 1rem 4rem;
}

.page {
  display: flex;
  flex: 1 auto;
  padding: 1rem 4rem 1rem 4rem;
}

.borderCircle {
  width: 100%;
  height: auto;
  border-radius: 50%;
  max-width: 8rem;
  border: 2px solid transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

ul.grid {
  display: grid;
  grid-template-columns: 1fr;
}

.nav {
  align-self: start;
  margin: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-self: end;
  margin-bottom: 1rem;
}

.footerNav {
  width: 100%;
  /* justify-self: center;
  align-self: end; */
  margin: 1rem;
}

.icon {
  list-style: none;
  cursor: pointer;
}

.navContainer {
  display: grid;
  justify-content: start;
  padding: 0rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 0.15rem;
}

@media screen and (min-width: 40rem) {
  .main {
    width: 100%;
    padding: 4rem 12rem 4rem 12rem;
    align-items: center;
    max-width: 100%;
  }

  .grid {
    margin: 0 auto;
    align-items: center;
  }

  .center {
    align-self: center;
    justify-self: center;
  }
}