.footerContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.422rem;
}

.footerItem {
  margin-top: 1rem;
  margin-bottom: 0;
  padding: 0;
  align-self: flex-end;
}

@media screen and (min-width: 40rem) {
  .footerItem {
    margin-top: 1rem;
    margin-right: 3rem;
  }
}
